.user-cv__basic-info {
  flex: 2;
}

.basic-info__heading {
  font-size: 24px;
  font-weight: 500;
  color: var(--cv-heading);
}

.basic-info__professional-title {
  font-size: 20px;
  color: var(--cv-heading);
}

.basic-info__summary {
  font-size: 10px;
  margin-top: 6px;
  font-weight: 300;
}