.user-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 3;
  max-width: 720px;
}

.user-details__container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 16px;
  padding-bottom: 32px;
  max-width: 700px;
}

.user-details__header {
  font-weight: 600;
}

.user-details__field {
  display: inline-grid;
  gap: 4px;
}

.user-details form {
  display: grid;
  gap: 8px 16px;
}

.user-details form div:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.user-details input {
  border: 1px solid var(--border);
  padding: 8px;
}

.user-details label {
  color: var(--muted-text);
}

@media (max-width: 1280px) {
  .user-details form div:last-child {
    grid-column: 1 / 1;
  }
}