.user-cv {
  flex: 2;
  background-color: var(--cv-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  height: 100%;
}

.user-cv__container {
  background-color: var(--paper-bg);
  aspect-ratio: 8.5 / 11;
  height: 75vh;
  padding: 16px;
}