.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.container__main {
  position: relative;
  display: flex;
  flex: 1;
  gap: 24px;
  padding: 24px 48px;
  max-height: 100%;
}

textarea {
  resize: vertical;
  min-height: calc(2 * 1.5em + 10px);
  max-height: 10em
}

input,
textarea {
  border: 1px solid var(--border);
  padding: 8px;
}

.eye-icon {
  display: none;
  border: 1px solid var(--border);
}

.eye-icon svg {
  width: 32px;
  stroke: white;
}

@media (max-width: 1000px) {
  .eye-icon {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    background-color: var(--selected-option);
    padding: 8px;
    border-radius: 20px;
  }
}