.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.container__main {
  position: relative;
  display: flex;
  flex: 1;
  gap: 24px;
  padding: 24px 48px;
  max-height: 100%;
  overflow-y: hidden;
}

textarea {
  resize: vertical;
  min-height: calc(2 * 1.5em + 10px);
  max-height: 10em
}

input,
textarea {
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 8px;
}

hr {
  border: 0;
  border-top: 1px solid var(--cv-heading);
  margin-top: 4px;
  margin-bottom: 8px;
}

.eye-icon {
  display: none;
  border: 1px solid var(--border);
  z-index: 1000;
}

.eye-icon svg {
  width: 32px;
  stroke: white;
}

.delete-btn {
  position: absolute;
  background: transparent;
  top: -8px;
  right: -12px;
  fill: var(--delete-btn);
}

.submit-btn {
  justify-self: flex-end;
  padding: 8px 24px;
  background-color: white;
  border: 1px solid var(--border);
  color: var(--muted-text);
  border-radius: 4px;
  margin-top: 16px;
  max-width: fit-content;
  grid-column: 1 / 3;
}

.submit-btn:hover {
  background-color: var(--selected-option);
  color: white;
}

@media (max-width: 1000px) {
  .eye-icon {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    background-color: var(--selected-option);
    padding: 8px;
    border-radius: 20px;
  }
}