.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.container__main {
  display: flex;
  flex: 1;
  padding: 24px 48px;
  gap: 48px;
  max-height: 100%;
}

textarea {
  resize: vertical;
  min-height: 2.5rem;
  max-height: 8.5rem;
}

input,
textarea {
  border: 1px solid var(--border);
  padding: 8px;
}