:root {
  --navbar-logo: rgb(243, 243, 255);
  --navbar-icon: rgb(209, 152, 255);
  --navbar-icon-hover: rgb(215, 167, 255);
  --navbar-border: rgb(218, 173, 255);;
  --muted-text: rgb(100, 100, 100); 
  --border: rgb(180, 180, 180);
  --cv-bg: rgb(231, 231, 231);
  --paper-bg: white;
  --cv-heading: rgb(61, 92, 155);
  --selected-option: rgb(135, 135, 255);
  --hover: rgb(241, 241, 241);
  --hover-selected: rgb(128, 128, 240);
  --add-btn: rgb(92, 172, 92);
  --delete-btn: rgb(255, 52, 52);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.size-6 {
  width: 28px;
}

.size-5 {
  width:  24px;
}